@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

p{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
a{
    text-decoration: none !important;
}
button{
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
}